ansible=={{ cookiecutter.ansible_version }}
awscli
boto
boto3
botocore
#molecule==3.4.0
#molecule-docker==1.1.0
#molecule-ec2==0.4
molecule=={{ cookiecutter.molecule_version }}
molecule-docker
molecule-ec2
yamllint
ansible-lint=={{ cookiecutter.ansible_lint_version }}
